*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
a{
    text-decoration: none;
}
.header-content{
    background-image: linear-gradient(to top right,rgb(4, 4, 51),rgb(37, 37, 134));
}
.header-container{
    margin: 3rem 0 0 0;
    
}
.tothetop{
    background-image: linear-gradient(to top ,rgb(17, 31, 19),rgb(79, 79, 163));
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    align-self: center;
    color: white;
}
.content1{
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    display: grid;
    margin-left: 37%;
    grid-template-columns: repeat(8,1fr);
}
.content1 a{
    color: whitesmoke;
}
.dev{
    color: whitesmoke;
    padding: 1.5rem;
    text-align: center;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem
}
.discrimer{
    padding: .3rem;
    color:black;
    font-size: .8rem;
    text-align: center;
}
@media screen and (max-width:800px){
    .content1{
        margin-left: 20%;

        grid-template-columns: repeat(4,2fr)
    }
}