*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.navbar-container{
  background-image: linear-gradient(to right,rgb(4, 4, 51),rgb(37, 37, 134));
  
    color: whitesmoke;
    display:grid;
    grid-template-columns: auto 1fr;
    text-align: center;
     padding: 1rem 4rem 1rem 1.5rem;
   
    

}
.linklist{
    list-style: none;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    align-self: center;
    font-size: 1.6rem;
    line-height: 1.2rem;
}
.link{
    color: white;
    cursor: pointer;
    margin-left: 1.8rem;
}
.link:hover{
    color: palegreen;


}
:active{
    color: green;
}
@media screen and (max-width:500px){
    .navbar-container{
        position: sticky;
        position: -webkit-sticky;
        top:0rem;
        z-index: 2;
    }
    .linklist{
        font-size: 1rem;
    }
    .link{
        margin-left: 1rem;
    }
}