*{
    box-sizing: border-box;
}
.showballingrecords{
    display: block;
}
.hideballingrecords{
    display:none;
}
.reactfragment{
    width:50%;
    margin:4rem 0 1rem 10%;
    text-transform: capitalize;
    
}
.reactfragment h2{
    font-size:1.9rem; 
    margin-bottom: 1rem;
}
.fast100-mainrow{
    background-color: midnightblue;
    color:white;
    font-size: 1.2rem;
   width: 70%;

}

@media screen and (max-width:800px){
    .reactfragment{
        width: 80%;
        margin:2rem 0 1rem 5%;
        overflow-x: scroll;
    }
    .reactfragment h2{
        font-size: 1.6rem;
    }
    .fast100-mainrow td{
        font-size:1.1rem;
        padding: .5rem;
    }
    .fast100content td{
        font-size: 1rem;
    }
 
}
@media screen and (max-width:500px){
    .reactfragment{
       width:98%;
       margin:2rem 1% 0 1%;
      
    }
   
    .fast100overflow{
        overflow-x: scroll;
      
    }
    .fast100-mainrow td{
        font-size:1rem;
    }
    .fast100content td{
        font-size: .85rem;
    }
}
