*{
    box-sizing: border-box;
}
.showballingrecords{
    display: block;
}
.hideballingrecords{
    display:none;
}
.reactfragment{
    width:50%;
    margin:4rem 0 1rem 10%;
    text-transform: capitalize;
}
.reactfragment h2{
    font-size:1.9rem; 
    margin-bottom: 1rem;
}
.fast100-mainrow{
    background-color: midnightblue;
    color:white;
    font-size: 1.2rem;


}
.ballingbtn{
    align-self: center;
   margin-top: .3rem  ;
   
    font-size: 1.4rem;
    color: rgb(32, 32, 95);
    border-style:hidden;
    background-image: linear-gradient(to right,rgb(164, 204, 231),rgb(56, 212, 56));
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(2,1fr);
      
} 

.ballingbtn:hover{
    background-image: linear-gradient(to right,rgb(56, 212, 56),rgb(164, 204, 231));
    border-style:hidden;
    color: rgb(161, 57, 8);
    transform-style: flat;
    transition-duration: 400ms;
    transition-delay: 200ms;
}

    
.ballingbtn i{
    font-size: 2rem;
   

}

@media screen and (max-width:800px){
    .reactfragment{
        width: 80%;
        margin:2rem 0 1rem 5%;
    }
    .reactfragment h2{
        font-size: 1.6rem;
    }
    .fast100-mainrow td{
        font-size:1.1rem;
        padding: .5rem;
    }
    .fast100content td{
        font-size: 1rem;
    }
 
}
@media screen and (max-width:500px){
    .reactfragment{
       width:98%;
       margin:2rem 1% 0 1%;
      
    }
   
    .fast100overflow{
        overflow-x: scroll;
      
    }
    .fast100-mainrow td{
        font-size:1rem;
    }
    .fast100content td{
        font-size: .85rem;
    }
}
