*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.hidebattingrecords{
    display: none;
}
.showbattingrecords{
    display: block
}
.recordbtn{
    align-self: center;
   margin: .3rem auto 0 ;
    width:80%;
    font-size: 1.4rem;
    color: rgb(32, 32, 95);
    border-style:hidden;
    background-image: -webkit-gradient(linear,left top, right top,from(rgb(164, 204, 231)),to(rgb(56, 212, 56)));
    background-image: linear-gradient(to right,rgb(164, 204, 231),rgb(56, 212, 56));
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(2,1fr);
      
} 

.recordbtn:hover{
    background-image: -webkit-gradient(linear,left top, right top,from(rgb(56, 212, 56)),to(rgb(164, 204, 231)));
    background-image: linear-gradient(to right,rgb(56, 212, 56),rgb(164, 204, 231));
    border-style:hidden;
    color: rgb(161, 57, 8);
    -webkit-transform-style: flat;
            transform-style: flat;
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
}

    
.recordbtn i{
    font-size: 2rem;
   

}
.lessrecordbtn{
    align-self: center;
   margin: .3rem 10% 0 10%;
    width:45%;
    font-size: 1.4rem;
    color: rgb(32, 32, 95);
    border-style:hidden;
    background-image: -webkit-gradient(linear,left top, right top,from(rgb(164, 204, 231)),to(rgb(56, 212, 56)));
    background-image: linear-gradient(to right,rgb(164, 204, 231),rgb(56, 212, 56));
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(2,1fr);
      
} 

.lessrecordbtn:hover{
    background-image: -webkit-gradient(linear,left top, right top,from(rgb(56, 212, 56)),to(rgb(164, 204, 231)));
    background-image: linear-gradient(to right,rgb(56, 212, 56),rgb(164, 204, 231));
    border-style:hidden;
    color: rgb(161, 57, 8);
    -webkit-transform-style: flat;
            transform-style: flat;
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
}

    
.lessrecordbtn i{
    font-size: 2rem;
   

}
