*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.lastupdate-container{
    -webkit-box-shadow: 2px 2px 20px 2px rgb(112, 182, 173);
            box-shadow: 2px 2px 20px 2px rgb(112, 182, 173);
 padding: 0;
 margin:3.5rem 0 0rem 0;

 text-align: center;
 -ms-flex-item-align: center;
     align-self: center;
 text-transform: capitalize;
 
}
.lastupdate-title{
    
    color: white;
    background-image: -webkit-gradient(linear,left bottom, right top,from(rgb(6, 6, 49)),to(rgb(14, 14, 136)));
    background-image: linear-gradient(to right top,rgb(6, 6, 49),rgb(14, 14, 136));
    padding:.5rem;
    
}
.lastupdate-content{
    padding: .75rem;
    font-size: 1.2rem;
    text-align: justify;
}
@media screen and (max-width:800px){
    .lastupdate-container{
        width:100%;
        margin:2rem 0% 0 0%;
    }
    .lastupdate-title{
        font-size: .9rem;
    
    }
    .lastupdate-content{
        font-size: 1rem;
    }

}
@media screen and (max-width:500px){
    .lastupdate-container{
        width: 100%;
        margin:1.5rem 0 0 0;
    }
    .lastupdate-content{
        font-size: 1.1rem;
    }
}