*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#logoslide-container{
   width: 90%;
   margin:2rem auto auto auto;
 height: 10rem;
 
    
}
#each-slide{
    padding-left: 2rem;
    height:10rem;
}
#slide-img{
    width: auto;
    height:1rem;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-column-gap:-1rem;
    align-self:center;
}
#slide-img img{
    width:auto;
    height: 10rem;

}

@media screen and (max-width:800px){
    #logoslide-container{
        width: 94%;
        margin:2rem auto auto auto;
      height: 6rem;
      
         
     }
     #each-slide{
         padding-left: 2rem;
         height:6rem;
     }
   
     #slide-img img{
         width:auto;
         height: 6rem;
     
     }

}
@media screen and (max-width:500px){
    #logoslide-container{
        width:98%;
        margin:2rem 2% auto auto;
      height: 4rem;
     
         
     }
     #each-slide{
         padding-left: 2rem;
         height:4rem;
     }
   
     #slide-img img{
         width:auto;
         height: 4rem;
     
     }
    
}