*{
    box-sizing: border-box;
}
.next-last-container{
    display: grid;
    margin:4rem 25rem 0 12rem;
    width:61vw;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 1rem;
}
.container{
margin-top: 0;
 /* width:30%; */
 text-align: center;
 align-self: center;
 text-transform: capitalize;
 box-shadow: 2px 2px 20px 2px rgb(112, 182, 173);
 
 
 
}
.titlenextmatch{
    
    color: white;
   background-image: linear-gradient(to right top,rgb(6, 6, 49),rgb(14, 14, 136));
    padding:.5rem;
    
}
.content-container{
   
   
    padding: .75rem;
    font-size: 1.2rem;
    
}
.content{
    text-align: justify;
}
@media screen and (max-width:800px){
    .next-last-container{
        display:inline;
    }
    .container{
        width:60%;
        margin:2rem 20% 0 20%;
    }
    .titlenextmatch{
        font-size: .9rem;
    
    }
    .content-container{
        font-size: 1rem;
    }

}
@media screen and (max-width:500px){
    .container{
        width: 90%;
        margin:1.5rem 5% 0 5%;
    }
    .content-container{
        font-size: 1.1rem;
    }
}