*{
    box-sizing: border-box;
}
.main-container{
 border: .1rem solid green;
 padding: 0;
 margin:2rem auto 0 12rem;;
 width:17%;
 text-align: left;
 align-self: center;
 
 float: inline-start;
 box-shadow: 2px 2px 20px 2px rgb(4, 48, 8);
}
.title{
    width: auto;

    color: rgba(204, 15, 15, 0.808);
    background-image: linear-gradient(to right,green,palegreen);
    padding:.5rem;
}
.score{
    padding: .75rem;
    font-size: 1.2rem;
    
}
/* @media screen and (max-width:1350px){
    .main-container{
        margin-left: 12rem;
    }
} */
@media screen and (max-width:800px){
    .main-container{
        width:40%;
        margin:2rem auto 0 3.1rem;
    }
    .title{
        font-size: 1rem;
    
    }
    .score{
        font-size: 1.2rem;
    }

}
@media screen and (max-width:500px){
    .main-container{
        width: 48%;
        margin:2rem auto 0 1.1rem;
    }
    .score{
        font-size: 1.1rem;
    }
}